<ion-content>
                <div class="hola">
                    <ion-avatar>
                        <img alt="Imagen perfil" src="https://picsum.photos/800/400?random=1" />
                    </ion-avatar>
                    <div id="contenido_perfil">
                        <ion-item>
                            <ion-input label="Nombre"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input label="Email"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input label="Fecha de nacimiento"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input label="Default input"></ion-input>
                        </ion-item>
                        <ion-button expand="block" (click)="updateProfile()">Update</ion-button>
                    </div>
                </div>
</ion-content>
