<ion-content class="Registrobody" style="height: 100%">
    <ion-grid class="ion-no-padding">
        <ion-row>
            <!--En esta columna es donde va la foto de los moviles-->
            <ion-col class="Registrobody">
                <div id="onichan">
                    <img src="../../../assets/img/marco2.png" class="overlay-image">
                    <div id="onichan2">
                        <app-carrousel></app-carrousel>
                    </div>
                </div>
            </ion-col>
            <!--En este es donde está el formulario de registro-->
            <ion-col size-lg="6" size-xs="12" class="Registrobody">
                <div class="subForm">
                    <ion-img src="assets/logo.png" id="logo"></ion-img>
                    <ion-item>
                        <ion-input [(ngModel)]="register.nickname" label="Nickname"></ion-input>
                    </ion-item>

                    <ion-item [class.invalid]="!isNameValid">
                        <ion-input [(ngModel)]="register.name" (ngModelChange)="validateName()" label="Nombre"></ion-input>
                    </ion-item>
                    <p class="error" *ngIf="!isNameValid">El nombre no puede contener números.</p>

                    <ion-item [class.invalid]="!isEmailValid">
                        <ion-input [(ngModel)]="register.email" (ngModelChange)="validateEmail()" label="Correo"></ion-input>
                    </ion-item>
                    <p class="error" *ngIf="!isEmailValid">Introduce un correo válido.</p>

                    <ion-item>
                        <ion-input [(ngModel)]="register.bornDate" label="Fecha nacimiento" type="date"></ion-input>
                    </ion-item>


                    <ion-item [class.invalid]="!isPasswordValid">
                        <ion-input [(ngModel)]="register.password" (ngModelChange)="validatePassword()" type="password" label="Contraseña"></ion-input>
                        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
                    </ion-item>
                    <p class="error" *ngIf="!isPasswordValid">La contraseña debe tener al menos 8 caracteres.</p>

                    <ion-item>
                        <ion-label>Subir Imagen</ion-label>
                        <input type="file" [(ngModel)]="register.avatar" (change)="onFileSelected($event)" />
                    </ion-item>

                    <ion-button (click)="onSubmit()" expand="block">Registrarse</ion-button>

                    <div class="subForm2">
                        <ion-text>¿Ya tienes Cuenta?<span>   </span></ion-text>
                        <ion-text routerLink="/login"><b>Inicia Sesión</b></ion-text>
                    </div>
                </div>
            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>
