ion-grid {
  background-color: #022c27;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;


  .content-column {
    text-align: center; // Centraliza los textos
  }

  .center-title {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
  }

  .textarea-item {
    background-color: #022c27;
    color: white;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 8px;
  }

  .post-textarea {
    color: white;
    background: transparent;
    height: 120px;
  }

  .upload-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b6f5e;
    color: white;
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
    margin: 16px auto;

    label {
      cursor: pointer;
      text-transform: uppercase;
    }
  }

  .bottom-input {
    border-radius: 20px;
    background-color: #e0f2f1;
    margin-top: 16px;

    ion-input {
      color: #333;
    }
  }
}
