<ion-grid class="ion-no-padding">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" class="content-column">
      <!-- Título de la sección -->
      <h2 class="center-title">Nueva Publicación</h2>

      <!-- Campo de texto para el contenido del post -->
      <ion-item lines="none" class="textarea-item">
        <ion-textarea
          placeholder="Añadir publicación..."
          [(ngModel)]="postContent"
          auto-grow="true"
          class="post-textarea"
        ></ion-textarea>
        <ion-button fill="clear" slot="end" (click)="clearPost()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <!-- Botón para añadir archivos -->
      <ion-button expand="block" class="upload-button">
        <ion-icon name="add-outline" slot="start"></ion-icon>
        <input type="file" (change)="handleFileInput($event)" hidden />
        <label>Añadir archivo</label>
      </ion-button>
      <ion-button [routerLink]="['/posts']" expand="block" class="upload-button">
        <ion-icon name="camera-outline" slot="start"></ion-icon>
        <label>Enviar</label>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
