<ion-content id="contenido">
  <ion-card>
    <ion-card-header class="encabezado_dieta">
      <img alt="Imagen perfil" src="https://picsum.photos/800/400?random=1" class="dieta_img"/>
      <ion-card-title style="padding-left: 4%; color: white">Tortitas de mantequilla de maní con chocolate</ion-card-title>
    </ion-card-header>
    <ion-card-content style="margin-top: 3%">
      <ion-text style="font-size: 150%; color: white">Ingredientes</ion-text>
      <!--TODO
       Habría que poner una lista de ingredientes los cuales se recogen de la base de datos, por lo que ira
      en un ngFor -->
      <div class="ingredientes">
        <ion-list class="lista_ingredientes">
          <ion-label>Yogur natural 250 gramos</ion-label>
          <ion-label>Plátano 80 gramos</ion-label>
          <ion-label>Muesli 15 gramos</ion-label>
        </ion-list>
        <div class="imagenes">
          <ion-row>
            <ion-col *ngFor="let img of imagenes; let i = index" size="6" class="imagen_col">
              <img [src]="img" alt="Imagen de ingrediente" class="imagen_ingrediente" />
            </ion-col>
          </ion-row>
        </div>
      </div>
      <!--<ion-button style="display: flex; align-self: center" (click)="guardar()">Guardar</ion-button>-->
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header class="encabezado_dieta">
      <img alt="Imagen perfil" src="https://picsum.photos/800/400?random=1" class="dieta_img"/>
      <ion-card-title style="padding-left: 4%; color: white">Tortitas de mantequilla de maní con chocolate</ion-card-title>
    </ion-card-header>
    <ion-card-content style="margin-top: 3%">
      <ion-text style="font-size: 150%; color: white">Ingredientes</ion-text>
      <!--TODO
       Habría que poner una lista de ingredientes los cuales se recogen de la base de datos, por lo que ira
      en un ngFor -->
      <div class="ingredientes">
        <ion-list class="lista_ingredientes">
          <ion-label>Yogur natural 250 gramos</ion-label>
          <ion-label>Plátano 80 gramos</ion-label>
          <ion-label>Muesli 15 gramos</ion-label>
        </ion-list>
        <div class="imagenes">
          <ion-row>
            <ion-col *ngFor="let img of imagenes; let i = index" size="6" class="imagen_col">
              <img [src]="img" alt="Imagen de ingrediente" class="imagen_ingrediente" />
            </ion-col>
          </ion-row>
        </div>
      </div>
      <!--<ion-button style="display: flex; align-self: center" (click)="guardar()">Guardar</ion-button>-->
    </ion-card-content>
  </ion-card>
</ion-content>
