<body>
<ion-grid class="ion-no-padding" id="sugerencias">
    <ion-row>
        <ion-col class="content-column">
            <ion-img src="assets/icon/Logo.png"></ion-img>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <h6>Sugerencias</h6>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-item lines="none">
                <ion-avatar aria-hidden="true" slot="start">
                    <img alt="" src="https://picsum.photos/200/300?random=1" />
                </ion-avatar>
                <ion-label>Sara</ion-label>
                <ion-button slot="end">
                    <ion-icon name="person-add-outline"></ion-icon>
                    Seguir
                </ion-button>
            </ion-item>
            <ion-item lines="none">
                <ion-avatar aria-hidden="true" slot="start">
                    <img alt="" src="https://picsum.photos/200/300?random=2" />
                </ion-avatar>
                <ion-label>Rufaé</ion-label>
                <ion-button slot="end">
                    <ion-icon name="person-add-outline"></ion-icon>
                    Seguir
                </ion-button>
            </ion-item>
            <ion-item lines="none">
                <ion-avatar aria-hidden="true" slot="start">
                    <img alt="" src="https://picsum.photos/200/300?random=3" />
                </ion-avatar>
                <ion-label>Guillermo</ion-label>
                <ion-button slot="end">
                    <ion-icon name="person-add-outline"></ion-icon>
                    Seguir
                </ion-button>
            </ion-item>
        </ion-col>
    </ion-row>
</ion-grid>


</body>
