<body>
<ion-grid>
    <ion-row>
        <ion-col>
            <ion-list>
                <ion-item lines="none" (click)="navigateTo('/home')" >
                    <ion-icon aria-hidden="true" name="home" slot="start"></ion-icon>
                    <ion-label>Inicio</ion-label>
                </ion-item>
                <ion-item lines="none">
                    <app-search *ngIf="showSearch"></app-search>
                    <ion-icon aria-hidden="true" name="search" slot="start"></ion-icon>
                    <ion-label (click)="toggleSearch()" >Busqueda</ion-label>
                </ion-item>
                <ion-item lines="none" >
                    <ion-icon aria-hidden="true" name="add" slot="start"></ion-icon>
                    <ion-label (click)="openAddPostModal()" >Publicar</ion-label>
                </ion-item>
                <ion-item lines="none" (click)="navigateTo('/notification')" >
                    <ion-icon aria-hidden="true" name="restaurant" slot="start"></ion-icon>
                    <ion-label>Dietas</ion-label>
                </ion-item>
                <ion-item lines="none" (click)="navigateTo('/notification')" >
                    <ion-icon aria-hidden="true" name="notifications" slot="start"></ion-icon>
                    <ion-label>Notificaciones</ion-label>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>
</ion-grid>

</body>
