ion-content {
  background-color: #042F2E;
  color: white;
}

ion-input {
  background-color: #042F2E;
  color: white;
  border-bottom: 1px solid white;
  padding: 5px 0;
}

ion-icon {
  font-size: 1.5rem;
  color: white;
}

ion-list-header {
  color: white;
  padding-left: 10px;
}

ion-item {
  --background: transparent;
}

ion-label {
  color: white;
}

ion-button ion-icon {
  color: white;
}



