<ion-app>
    <ion-content fullscreen>
        <ion-grid class="ion-no-padding" style="height: 100%; width: 100%;">
            <ion-row style="height: 100%;">
                <!-- Menú lateral -->
                <ion-col
                    *ngIf="menuVisible"
                    size="3"
                    class="ion-no-padding"
                    style="height: 100%; display: flex; align-items: start; justify-content: start;"
                >
                    <app-menuoriginal></app-menuoriginal>
                </ion-col>

                <!-- Contenido principal con router-outlet -->
                <ion-col
                    class="ion-no-padding"
                    [attr.size]="menuVisible && suggestionsVisible ? '6' : '12'"
                    style="height: 100%;"
                >
                    <ion-router-outlet></ion-router-outlet>
                </ion-col>

                <!-- Sugerencias -->
                <ion-col
                    *ngIf="suggestionsVisible"
                    size="3"
                    class="ion-no-padding"
                    style="height: 100%;"
                >
                    <app-suggestions></app-suggestions>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-content>
</ion-app>
