<ion-content fullscreen>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-icon name="arrow"></ion-icon>
            </ion-col>
            <ion-col>
                <ion-avatar aria-hidden="true" slot="start">
                    <img alt="" src="https://picsum.photos/200/300?random=1" />
                </ion-avatar>
            </ion-col>
            <ion-col>
                <h4>Nombre usuario</h4>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-list>
                <ion-item>
                    <ion-label>Holaaa</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Holaaa tio</ion-label>
                </ion-item>
            </ion-list>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-input
                    labelPlacement="stacked"
                    [clearInput]="true"
                    placeholder="Escriba un mensaje...">
                </ion-input>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
