<ion-content fullscreen>
<ion-grid>
    <ion-row>
        <ion-col>
            <h1 style="text-align: center">Notificaciones</h1>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <h1>Ayer</h1>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-item lines="none">
                <ion-avatar slot="start">
                    <img alt="avatar" src="https://picsum.photos/200/300?random=1" />
                </ion-avatar>
                <ion-label><b>Rufaé</b> le ha dado me gusta a tu publicación</ion-label>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <h1>Últimos 7 días</h1>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-item lines="none">
                <ion-avatar slot="start">
                    <img alt="avatar" src="https://picsum.photos/200/300?random=2" />
                </ion-avatar>
                <ion-label><b>Guille</b> le ha dado me gusta a tu publicación</ion-label>
            </ion-item>
            <ion-item lines="none">
                <ion-avatar slot="start">
                    <img alt="avatar" src="https://picsum.photos/200/300?random=3" />
                </ion-avatar>
                <ion-label><b>Javi</b> le ha dado me gusta a tu publicación</ion-label>
            </ion-item>
        </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
