ion-grid{
    background-color: #007875;
    height: 100%;
}
h1{
    color: black;
    font-weight: bold;
}
ion-item {
    --inner-padding-top: 0;
    --inner-padding-bottom: 0;
    --border-width: 0;
    --background: transparent;
    --ion-item-background: transparent;
}
ion-col{
    margin: 2%;
}

ion-content {
    height: 100%;
}


/* Para pantallas pequeñas */
@media (max-width: 1000px) {
    .movil{
        margin-top: 20%;
    }
}
