<ion-content id="contenido">
  <ion-card>
    <ion-card-header class="encabezado_dieta">
      <img alt="Imagen perfil" src="https://picsum.photos/800/400?random=700" class="dieta_img"/>
      <ion-card-title style="padding-left: 4%; color: white">Press de banca</ion-card-title>
    </ion-card-header>
    <ion-card-content style="margin-top: 3%">
      <ion-text style="font-size: 150%; color: white">Músculos implicados</ion-text>
      <div class="ingredientes">
        <ion-list class="lista_ingredientes">
          <ion-label>Pecho</ion-label>
          <ion-label>Hombro</ion-label>
          <ion-label>dedo chico del pie</ion-label>
        </ion-list>
        <div class="imagenes">
          <ion-row>
            <ion-col *ngFor="let img of imagenes; let i = index" size="6" class="imagen_col">
              <img [src]="img" alt="Imagen de ingrediente" class="imagen_ingrediente" />
            </ion-col>
          </ion-row>
        </div>
      </div>
      <ion-text style="font-size: 150%; color: white; margin-top: 3%">Explicación: </ion-text>
      <ion-text style="color: white">Para realizar el press de banca, acuéstate en un banco
        plano con los pies firmemente en el suelo. Agarra la barra con las manos un poco más anchas
        que el ancho de los hombros. Baja la barra hasta el pecho y luego empújala hacia arriba hasta
        que los brazos estén completamente extendidos.</ion-text>
      <!--<ion-button style="display: flex; align-self: center" (click)="guardar()">Guardar</ion-button>-->
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header class="encabezado_dieta">
      <img alt="Imagen perfil" src="https://picsum.photos/800/400?random=700" class="dieta_img"/>
      <ion-card-title style="padding-left: 4%; color: white">Press de banca</ion-card-title>
    </ion-card-header>
    <ion-card-content style="margin-top: 3%">
      <ion-text style="font-size: 150%; color: white">Músculos implicados</ion-text>
      <div class="ingredientes">
        <ion-list class="lista_ingredientes">
          <ion-label>Pecho</ion-label>
          <ion-label>Hombro</ion-label>
          <ion-label>dedo chico del pie</ion-label>
        </ion-list>
        <div class="imagenes">
          <ion-row>
            <ion-col *ngFor="let img of imagenes; let i = index" size="6" class="imagen_col">
              <img [src]="img" alt="Imagen de ingrediente" class="imagen_ingrediente" />
            </ion-col>
          </ion-row>
        </div>
      </div>
      <ion-text style="font-size: 150%; color: white; margin-top: 3%">Explicación: </ion-text>
      <ion-text style="color: white">Para realizar el press de banca, acuéstate en un banco
        plano con los pies firmemente en el suelo. Agarra la barra con las manos un poco más anchas
        que el ancho de los hombros. Baja la barra hasta el pecho y luego empújala hacia arriba hasta
        que los brazos estén completamente extendidos.</ion-text>
      <!--<ion-button style="display: flex; align-self: center" (click)="guardar()">Guardar</ion-button>-->
    </ion-card-content>
  </ion-card>
</ion-content>
