<ion-content fullscreen>
  <ion-grid class="chat-container ion-no-padding">
    <!-- Encabezado del chat -->
    <ion-row class="chat-header movil">
      <ion-col size="1" class="icon-back">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-col>
      <ion-col size="1" class="chat-avatar">
        <img src="assets/icon/ia.png">
      </ion-col>
      <ion-col size="10" class="chat-user-info">
        <h4>POWERZONE IA</h4>
      </ion-col>
    </ion-row>

    <!-- Mensajes -->
    <ion-row class="chat-messages">
      <ion-col>
        <div class="message-list">
          <div
            *ngFor="let msg of messages"
            [class.user]="msg.isUser"
            [class.bot]="!msg.isUser"
            class="message"
          >
            <span [innerHTML]="msg.text | bold"></span>
          </div>

          <!-- Animación de "escribiendo" -->
          <div *ngIf="isTyping" class="message bot typing-animation">
            <span>Escribiendo...</span>
            <ion-spinner name="dots" color="primary"></ion-spinner>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <!-- Input de texto -->
    <ion-row class="chat-input-row">
      <ion-col size="10">
        <ion-input
          style="color: white"
          placeholder=" Escriba un mensaje..."
          [(ngModel)]="messageText"
          (keyup.enter)="sendMessage()"
        ></ion-input>
      </ion-col>
      <ion-col size="2" class="send-icon">
        <button>
          <div class="svg-wrapper-1">
            <div class="svg-wrapper">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="24"
                height="24"
              >
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path
                  fill="currentColor"
                  d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
                ></path>
              </svg>
            </div>
          </div>
          <span>Enviar</span>
        </button>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
