.dieta_img {
    width: 30%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.1);
}

.encabezado_dieta {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#contenido {
    --background: #042f2e;
    display: flex; /* Habilita flexbox */
    flex-direction: column; /* Asegura que las tarjetas estén en columna */
    align-items: center; /* Centra las tarjetas horizontalmente */
    padding: 20px; /* Añade un poco de espacio alrededor */
    gap: 20px; /* Espaciado entre las tarjetas */
}

ion-card {
    width: 80%; /* Define un ancho consistente para las tarjetas */
    max-width: 600px; /* Evita que sean demasiado anchas */
    --background: #007774;
    margin: 0 auto; /* Asegura el centrado horizontal */
}

@media (max-width: 1000px) {
    ion-content {
        --padding-top: 20%;
    }
}
