<ion-content id="contenido">
    <ion-card (click)="navigateTo('/dietas')">
        <ion-card-header class="encabezado_dieta">
            <img alt="Imagen perfil" src="https://picsum.photos/800/400?random=1" class="dieta_img"/>
            <ion-card-title style="padding-left: 4%; color: white">
                Comidas para una salud óptima
            </ion-card-title>
        </ion-card-header>
        <ion-card-content style="margin-top: 3%">
            <ion-text style="font-size: 100%; color: white">Aqui encontraras diferentes alimentos, platos y entretiempos para que tu cuerpo pueda responderte
                a la hora de realizar ejercicio, para poder ganar masa muscular o para poder realizar un déficit
                calórico a la par que saludable</ion-text><br><br>
        </ion-card-content>
    </ion-card>

    <ion-card (click)="navigateTo('/dietas')">
        <ion-card-header class="encabezado_dieta">
            <img alt="Imagen perfil" src="https://picsum.photos/800/400?random=2" class="dieta_img"/>
            <ion-card-title style="padding-left: 4%; color: white">
                Ejercicios para una salud óptima
            </ion-card-title>
        </ion-card-header>
        <ion-card-content style="margin-top: 3%">
            <ion-text style="font-size: 100%; color: white">Aqui encontraras diferentes ejercicios y hábitos para que tu cuerpo pueda responderte
                en los momentos más dificiles de la vida cotidiana, para poder ganar masa muscular o incluso
                para poder perder esa grasa que llevamos encima</ion-text><br><br>
        </ion-card-content>
    </ion-card>
</ion-content>
