.admin_footer {
  --background-color: #cb2ad5;
  //#002b36
}
.ion-text-size{
    font-size: 150%;
}

.report-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.report-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.report-reason {
  font-size: 0.9rem;
  color: #ccc;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
}


