<body>
<ion-grid class="ion-no-padding">
    <ion-row>
        <ion-col size="3" class="menuizq-column">
            <ion-list class="menuizq">
                <a href="/posts">
                    <ion-icon aria-hidden="true" name="home" slot="start"></ion-icon>
                </a><br>
                    <ion-icon aria-hidden="true" name="search" slot="start"></ion-icon>
                <br>
                <a href="/add">
                    <ion-icon aria-hidden="true" name="add" slot="start"></ion-icon>
                </a><br>
                <a href="/health">
                    <ion-icon aria-hidden="true" name="restaurant" slot="start"></ion-icon>
                </a><br>
                <a href="/notification">
                    <ion-icon aria-hidden="true" name="notifications" slot="start"></ion-icon>
                </a>
                <a href="/settings">
                    <ion-icon aria-hidden="true" name="settings-sharp" slot="start"></ion-icon>
                </a>
            </ion-list>
        </ion-col>
        <ion-col size="9" class="content-column">
            <ion-list>
                <h2>Búsqueda</h2>
                <div class="recent-list">
                    <ion-input
                        [clearInput]="true"
                        placeholder="Search">
                    </ion-input>
                    <h6>Recientes</h6>
                </div>
                <ion-item lines="none">
                    <ion-avatar aria-hidden="true" slot="start">
                        <img alt="" src="https://picsum.photos/200/300?random=1" />
                    </ion-avatar>
                    <ion-label>Sara</ion-label>
                    <ion-button slot="end" fill="clear">
                        <ion-icon name="close-circle"></ion-icon>
                    </ion-button>
                </ion-item>
                <ion-item lines="none">
                    <ion-avatar aria-hidden="true" slot="start">
                        <img alt="" src="https://picsum.photos/200/300?random=2" />
                    </ion-avatar>
                    <ion-label>Rufaé</ion-label>
                    <ion-button slot="end" fill="clear">
                        <ion-icon name="close-circle"></ion-icon>
                    </ion-button>
                </ion-item>
                <ion-item lines="none">
                    <ion-avatar aria-hidden="true" slot="start">
                        <img alt="" src="https://picsum.photos/200/300?random=3" />
                    </ion-avatar>
                    <ion-label>Guillermo</ion-label>
                    <ion-button slot="end" fill="clear">
                        <ion-icon name="close-circle"></ion-icon>
                    </ion-button>
                </ion-item>

            </ion-list>
        </ion-col>
    </ion-row>
</ion-grid>

</body>
